.content-wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.8rem;
    padding: 2% 5% 5% 5%;
    text-align: center;
}

.content {
    grid-row: span 2;
    grid-column: 2 / span 3;
}

.title {
    grid-row: 1;
    grid-column: 2 / span 3;
    font-size: 150%;
}

@media only screen and (max-width: 600px) {
    .content {
        grid-row: span 2;
        grid-column: 1 / span 5;
    }
}